/.vs/*
*.sln
*.suo
/packages
/VMCloud/bin/*
/VMCloud/obj/*
/VMCloud/Log/
/VMCloud/packages
/VMCloud/.vs
/VMCloud/obj/*
/VMCloud/packages
/VMCloud/.vs/config
.vs/
/VMCloud/VMCloud.csproj
/VMCloud/*.config
/VMCloudTests
/VMCloud.Test
/VMCloud/Controllers/TestController.cs
/VMCloud/Properties/*
VMCloud/VMCloud\.csproj\.user
/VMCloud/Assignment/*
/VMCloud/Resource/*
/VMCloud/Temp/*
*.csproj
/VMCloud/Files/*

*.user
/VMCloud/ExcelFiles

.idea/*
/VMCloud/.idea/*
